.container {
	max-width: var(--content-size);
	width: 90%;
	height: calc(100vh - 5rem);
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;

	img {
		flex: 1;
		max-height: 520px;
		max-width: 100%;
	}
}

.hero {
	width: 50%;

	.subtitle {
		font-size: 1.5rem;
		font-weight: bold;
		display: block;
		margin-bottom: 2.5rem;
	}

	h1 {
		font-size: 4.5rem;
		margin-bottom: 2.5rem;
	}

	p {
		font-size: 1.5rem;
	}

	span {
		color: var(--cyan-500);
	}

	button {
		margin-top: 2.5rem;
	}

}



